BOT_TOKEN=replace_with_existing_bot_token
CHAT_ID=replace_with_existing_private_chat_id
ALLOWED_USER_ID=replace_with_your_telegram_user_id
BOT_USERNAME=ReunionWiki_bot
DOCKER_SOCKET_GID=replace_with_vps_docker_socket_gid
