/* Google Fonts locales */

/* Montserrat - 900 (Black) */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('fonts/montserrat/montserrat-900.ttf') format('truetype');
}

/* Inter - Variable Font */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('fonts/inter/inter-roman.woff2') format('woff2');
  font-optical-sizing: auto;
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('fonts/inter/inter-italic.woff2') format('woff2');
  font-optical-sizing: auto;
}

/* Pacifico - 400 (Regular) */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/pacifico/pacifico-400.ttf') format('truetype');
}

