.maintenance-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--fond);
  padding: 1rem;
}

.maintenance-container {
  background-color: var(--blanc);
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: 0.6rem 0.4rem 1.2rem var(--vert-fougere);
  text-align: center;
  max-width: 600px;
  width: 100%;
}
.maintenance-container:hover {
  box-shadow: 0.6rem 0.4rem 1.2rem var(--lava); /* 2px 5px */
}

.maintenance-container img {
  max-width: 100px;
  margin-bottom: 1rem;
}

.maintenance-container h1 {
  font-family: "Montserrat", sans-serif;
  color: var(--vert-fougere);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.maintenance-container p {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--gris-texte);
  margin-bottom: 0.8rem;
}
