<!-- templates/mentions_legales.html -->
{% extends "base.html" %} {% block title %}Mentions légales - Réunion Wiki{%
endblock %} {% block content %}
<h2>Mentions légales</h2>
<h3>Éditeur du site</h3>
<p>
  <strong>Réunion Wiki</strong> - Projet local indépendant<br />
  Responsable de la publication : Kery RICHARD DASSOT<br />
  Contact : <a href="mailto:contact@reunionwiki.re">contact@reunionwiki.re</a
  ><br />
  Statut : Site non commercial, sans but lucratif.
</p>

<h3>Hébergement</h3>
<p>
  OVH SAS<br />2 rue Kellermann, 59100 Roubaix, France<br />
  Site :
  <a href="https://www.ovhcloud.com/fr/" target="_blank"
    >https://www.ovhcloud.com/fr/</a
  >
</p>

<h3>Propriété intellectuelle</h3>
<p>
  Sauf mention contraire, les contenus présents sur ce site (textes, images,
  structure) sont la propriété exclusive de Réunion Wiki.
</p>

<h3>Responsabilité</h3>
<p>
  Réunion Wiki fournit des informations fiables, sans garantir
  l’exhaustivité.<br />
  Les liens externes relèvent de la responsabilité de leurs éditeurs.
</p>

<h3>Données personnelles</h3>
<p>
  Aucune donnée personnelle n'est collectée. Si un formulaire est ajouté, les
  données seront traitées selon le RGPD.
</p>

<h3>Cookies</h3>
<p>
  Aucun cookie de suivi ou à des fins publicitaires. Une mise en cache peut être
  utilisée afin d'accélérer le chargement du site.
</p>

<div id="bouton_plus"><a href="/">← Retour à l'accueil</a></div>
{% endblock %}
