{% extends "base.html" %} {% block seo_title %} Talents de La Réunion –
Influenceurs, Comédiens & Chanteurs {% endblock %} {% block seo_description %}
Découvrez les influenceurs, comédiens et chanteurs réunionnais à suivre :
portraits, styles et liens vers leurs comptes Instagram. {% endblock %} {# Intro
commune (comme l’index) #} {% block header_content %} {% include
"components/_home_intro.html" %} {% endblock %} {% from
"macros/talents_hero.html" import talents_hero %} {% from
"macros/talents_form.html" import talents_form %} {% from
"macros/talents_carousels.html" import talents_carousels %} {% from
"macros/talents_schema.html" import talents_schema %} {% block content %} {%
include "components/_home_tabs.html" with context %} {{
talents_carousels(talents) }} {{ talents_form(form, url_for('public.talents'))
}} {{ talents_hero() }}{% endblock %} {% block head %} {{
talents_schema(talents) }} {% endblock %}
